USE [master]
GO
/****** Objeto:  Database [DB_ParavidinoStudio]    Data do Script: 08/10/2026 11:48:39 ******/
CREATE DATABASE [DB_ParavidinoStudio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_ParavidinoStudio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_ParavidinoStudio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_ParavidinoStudio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_ParavidinoStudio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ParavidinoStudio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ParavidinoStudio]
GO
/****** Objeto:  Table [dbo].[Clientes]    Data do Script: 08/10/2026 11:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_Cliente] [nvarchar](50) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Segmento] [nvarchar](50) NOT NULL,
	[Cidade] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Data_Cadastro] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Porte] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Financeiro]    Data do Script: 08/10/2026 11:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financeiro](
	[ID_Financeiro] [nvarchar](50) NOT NULL,
	[Data] [date] NOT NULL,
	[ID_Projeto] [money] NOT NULL,
	[Projeto] [nvarchar](50) NOT NULL,
	[Receita] [float] NOT NULL,
	[Custo] [float] NOT NULL,
	[Lucro] [float] NOT NULL,
	[Forma_Pagamento] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Funcionarios]    Data do Script: 08/10/2026 11:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[ID_Funcionario] [nvarchar](50) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Cargo] [nvarchar](50) NOT NULL,
	[Departamento] [nvarchar](50) NOT NULL,
	[Salario] [float] NOT NULL,
	[Data_Admissao] [date] NOT NULL,
	[Performance] [float] NOT NULL,
	[Projetos_Realizados] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Marketing]    Data do Script: 08/10/2026 11:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marketing](
	[ID_Marketing] [nvarchar](50) NOT NULL,
	[Data] [date] NOT NULL,
	[Origem_Lead] [nvarchar](50) NOT NULL,
	[Leads] [tinyint] NOT NULL,
	[Conversoes] [tinyint] NOT NULL,
	[Investimento] [float] NOT NULL,
	[CAC] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Projetos]    Data do Script: 08/10/2026 11:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projetos](
	[ID_Projeto] [money] NOT NULL,
	[ID_Cliente] [nvarchar](50) NOT NULL,
	[Cliente] [nvarchar](50) NOT NULL,
	[Tipo_Projeto] [nvarchar](50) NOT NULL,
	[Gerente] [nvarchar](50) NOT NULL,
	[Desenvolvedor_Responsavel] [nvarchar](50) NOT NULL,
	[Data_Inicio] [date] NOT NULL,
	[Data_Termino] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Horas_Gastas] [smallint] NOT NULL,
	[Valor_Projeto] [float] NOT NULL,
	[Nota_Satisfacao] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
